GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
QDRANT_URL=http://localhost:6333 
MLFLOW_TRACKING_URI=http://localhost:5000 
# OLLAMA_BASE_URL = http://localhost:11434 # Uncomment and set the OLLAMA_BASE_URL if you are using Ollama for local LLM hosting
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
FREELLM_BASE_URL=http://localhost:3001/v1 
FREELLM_API_KEY=YOUR_FREELLM_API_KEY_HERE